// Colors
navBkgColor = #2c3e50
navHighlightColor = #405060
bodyPadding = 20px

// Generic
body
    padding 0
    margin 0

.heading-span
    font-size 28px

.heading-subtitle
    font-size 20px

// Tags
.tag
    background-color navBkgColor
    border-radius 5px
    padding 5px
    margin-right 5px
    color white

    &:hover
        text-decoration none
        background-color navHighlightColor
        color white

// News Items
.news-item
    border-top 1px solid #ccc

    h2
        margin-bottom 3px

    .details
        font-style italic

    .body
        padding-bottom bodyPadding
        padding-top bodyPadding