<div class="container">
    <h1>Jobs</h1>
    <p>
        Eventually, we all need a job. We'll try to keep this page updated the best
        we can to give everyone a list of possible job opportunities. All of this data is stored
        in a database, and we're still working on a front-end to make suggestions. So, in the 
        meantime, please create a Github issue with the 'job' label and all of the info, and
        we'll get it on the list!
    </p>

    <h2>Cool Companies to Work For</h2>
    <p>
        We'll keep a running list of companies we think are cool and worth working for here,
        as well as links to apply.
    </p>

    <table class="job-table">
        <tr>
            <th>Name</th>
            <th>Position(s)</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        {{#each companies}}
            <tr>
                <td>{{name}}</td>
                <td>{{position}}</td>
                <td>{{description}}</td>
                <td><a href="{{link}}">Apply</a></td>
            </tr>
        {{/each}}
    </table>
</div>
