<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Author Login</legend>
                </fieldset>
                <div class="form-group">
                    <label class="control-label col-lg-2">Username</label>
                    <div class="col-lg-10"><input type="text" class="form-control" placeholder="Username" /></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2">Password</label>
                    <div class="col-lg-10"><input type="password" class="form-control" placeholder="Password" /></div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Sign-in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
