<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Resume Submission</h1>
            <hr />
            <p>
                We want programmers at Lehigh to be as successful as possible. You'd be surprised
                at how many requests we get for programmers from local companies and startups.
                We try to spread the word through the job listings in our newsletter, but we could do 
                a much better job if we could give these companies access to a pool of resumes. So,
                please upload your resume here, and we'll do our best to get it to interested people!
            </p>
        </div>
    </div>

    <div class="row">
        <form role="form" action="/resume" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName">
            </div>

            <div class="form-group">
                <label for="gradYear">Graduation Year</label>
                <select id="gradYear" name="gradYear">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
                <p class="help-block">This is so we know when to delete your resume. When in doubt, list a later year.</p>
            </div>
            
            <div class="form-group">
                <label for="resumeUpload">Resume Upload</label>
                <input type="file" id="resumeUpload" name="resumeUpload">
                <p class="help-block">PDF's only. Max filesize of 5mb.</p>
            </div>

            {{#if error}}
            <div class="error">{{error}}</div>
            {{/if}}
            {{#if success}}
            <div class="success">{{success}}</div>
            {{/if}}

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
