<div class="container">
    <h1>Workshops</h1>
    {{#each workshops}}
        <div class="news-item">
            <h2>{{title}}</h2>
            <div class="details">{{location}} | <span class="time">{{startTime}}</span> - <span class="time">{{endTime}}</span> | <span class="date">{{date}}</span></div>
            <div class="body">{{body}}</div>
        </div>
    {{/each}}
</div>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="js/formatPosts.js" type="text/javascript"></script>
