body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
.heading-span {
  font-size: 28px;
}
.heading-subtitle {
  font-size: 20px;
}
.navbar-default {
  background-color: #444;
}
a.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 37px;
  font-size: 24px;
}
a.navbar-brand .navbar-logo {
  height: 37px;
  width: auto;
}
.navbar.navbar-default a.navbar-brand.selected:hover {
  background-color: #333;
}
.navbar-default .navbar-nav li a:hover {
  color: #ccc;
}
.navbar-default a.navbar-brand:hover {
  color: #fff;
}
a.navbar-brand.selected,
.navbar-default .navbar-nav li a.selected {
  background-color: #333;
}
.tag {
  background-color: #444;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  color: #fff;
}
.tag:hover {
  text-decoration: none;
  background-color: #ccc;
  color: #fff;
}
.news-item {
  border-top: 1px solid #ccc;
}
.news-item h2 {
  margin-bottom: 3px;
}
.news-item .details {
  font-style: italic;
}
.news-item .body {
  padding-bottom: 20px;
  padding-top: 20px;
}
.news-item .body h2 {
  font-size: 20px;
  font-weight: bold;
}
.job-table td,
.job-table th {
  padding: 5px 10px;
}
.job-table th {
  background-color: #ccc;
  color: #fff;
}
.job-table tr:nth-child(odd) {
  background-color: #eee;
}
