body {
    padding: 0;
    margin: 0;
}

.heading-span {
    font-size: 28px;
}

.heading-subtitle {
    font-size: 20px;
}

.tag {
    background-color: #ccf;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    color: black;
}

.tag:hover {
    text-decoration: none;
    background-color: #ddf;
    color: black;
}

.news-item {
    border-top: 1px solid #ccc;
}

.news-item h2 {
    margin-bottom: 3px;
}

.news-item .details {
    font-style: italic;
}

.news-item .body {
    padding-bottom: 20px;
    padding-top: 20px;
}