<div class="container content-box">
    <div class="row">
       <div class="span12">
	    <h1>About</h1>
	    <p>
		 These events include deadlines for the competition. Failure to meet a deadlines will result in elimination from the competition.
		 If your team needs an extension, please don't hesitate to contact inacm@lehigh.edu.
	    </p>
       </div>
       </div>
       <div class="row">
	    <div class="span12">
		 <h1>Event Dates</h1>
		 <p>Click an event to show its description.</p>
		 <div class="accordion" id="accordion2">
		      <div class="accordion-group">
			   <div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				     Introductory Meeting: Friday 1/24 @ 4:10-5pm, STEPS 101
				</a>
			   </div>
			   <div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
				     This is the mobiLEHIGH kickoff event. Eat free food, go over the rules, share ideas, and form last-minute teams!
				</div>
			   </div>
		      </div>
		      <!-- <div class="accordion-group">
			   <div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				     Getting Started Sessions: Saturday 2/2 @ 12-4pm, RBC 151
				</a>
			   </div>
			  <div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
				     This is an open sesssion designed to help everyone get started with the three tools described on the
				     <a href="getting_started.php">Getting Started</a> page. This is also where you want to go if you intend
				     on borrowing an Android device from Prof. Spear. We'll have formal presentations at 12pm and 2pm, but feel
				     free to stop by at any time for assistance!
				</div>
			   </div>
		      </div>
		      <div class="accordion-group">
			   <div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				     <span class="important-date">Game Proposal Due: Friday 2/8 @ 11:59pm</span>
				</a>
			   </div>
			   <div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
				     Teams must submit a paragraph describing their game idea. A Google Form will be sent out to the
				     Lehigh ID's that are registered for the team. Your idea can still change
				     afterwards, and you are not judged on the quality of this writing. It simply serves to keep everyone on
				     schedule and to ensure that games have appropriate content as described in the <a href="rules.php">Rules/Guidelines</a>.
				     <p><strong>Failure to meet this deadline will result in being expelled from the competition.</strong></p>
					 <p><strong>Update!</strong> Here is a link to the form: <a href="https://docs.google.com/forms/d/1d14IwKBcju_8NgaH1HjG1WPICaxevHBHZND_A_mOKzY/viewform">Link</a></p>
				</div>
			   </div>
		      </div>

			   <div class="accordion-group">
			   <div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
				     Workshop: Friday 3/1 @ 4-6pm
				</a>
			   </div>
			   <div id="collapseFive" class="accordion-body collapse in">
				<div class="accordion-inner">
				     Have questions? We have answers! Bring your laptop to STEPS 490 and we'll do our best to help you in any way we can.
				</div>
			   </div>
		      </div>



		       <div class="accordion-group">
			   <div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				     <span class="important-date">Final Project Due: Friday 3/22 @ 4-6pm</span>
				</a>
			   </div>
			   <div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">
				     Today's the day! Here you will display your game at a public event. An awards ceremony will follow.  Come check out everyone's
				     submitted games, and vote for your favorites - even if you didn't compete!
				     <p><em>More details regarding location and procedure will be given as the date approaches.</em></p>
				</div>
			   </div>
		      </div> -->
		 </div>
	    </div>
       </div>
   </div>
